* {
margin: 0;
padding: 0;
border: 0
font: 'Open Sans';
}

.dropbtn {

    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: inline-block;

}
.dropbtn:hover , .mydropdown:hover > a {
  text-decoration: none;
  color: #006600;
  font-weight: bold;
}
.mydropdown {
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd; color: black;}

.mydropdown:hover .dropdown-content {display: block;}


body {background-color: #f3f3f3 !important;}
.header-container, .nav-container {
  width: 1168px;
   margin: 0 auto;
 }
 .container-of-container {border-bottom: 1px solid black;}
header .flex-container {
  /*width: 1168px;
  margin: 0 auto;*/
  background: #f3f3f3;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;

}
header .flex-container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
header .flex-container .firm-logo {
  text-align: center;
}
header .flex-container .firm-logo > img {
  max-width: 15%;
  height: auto;
}

nav .flex-container > * {flex-basis: 15%; }
nav  .flex-container {
/*  width: 1168px;
  margin: 0 auto; */
  background: #f3f3f3;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.slide-inner {
  /*width: 1168px;
  margin: auto;*/
}
.carousel-inner img {
    width: 100%;
    height: auto;
}
p.ad1, p.ad2 {
  background-color: #111;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  padding: 10px 0
}
p.ad1 {
  border-bottom: 1px solid white;
  font-size: 16px;
  padding: 0;
}
p.ad1 >a, p.ad2 >a {text-decoration: none; color: white;}
p.ad1 >a:hover, p.ad2 >a:hover {color: pink;}
main .diaries-flex {
  display: flex;
  background-color: gray;
  flex-flow: row wrap;

  overflow: hidden;
  border-bottom: 2px solid #111;
  justify-content: center;
  align-items: center;
}
main .diaries-flex  a > img {
  max-width: 100%;
  transition: all 0.5s;

}
main .diaries-flex  a {

  max-width: 20%;
  border-right: 1px solid black;
}
main .diaries-flex  a:last-child {border: none;}
main .diaries-flex  a:hover > img {
  opacity: 0.5;

}


main .abc{
  margin-top: 50px;
}

.row strong{
  font-weight: 700;
  color: #241f0c;
}

.row p{
  line-height: 1.5rem;
  font-size: .875rem;
}

body, html, main {
    height: 100%;
}
main .parallax-container {height: 100%;}
main .parallax  a.parallax-link {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  color: white;
  font-size: 25px;
  text-decoration: none;
  padding: 15px;
  border: 2px solid white;
}
main .parallax.no2  a.parallax-link {
  top: 20%;
}
main .parallax  a.parallax-link:hover {
  border: 2px solid black;
  background: gray;
  color: #111;
  transition: all 0.5s;
}
main .parallax {
  position: relative;
    /* The image used */
    background-image: url('images/bg5.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main .parallax.no2 {background-image: url('images/bg3.jpg')}
main .blog-intro-container {
  background-color: #111;
  color: white;
  font-size: 30px;
  text-align: center;

  overflow: hidden;

}
main .blog-intro-container .blog-flex {
  width: 1168px;
  margin: 10px auto 0 auto;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-top: 1px solid gray;
  padding: 20px 0;
}
main .blog-intro-container .blog-flex img {
  width: 100%;
  height: auto;

}
main .blog-intro-container .blog-flex > a {
  width: 20%;
  border: 5px solid gray;
}
main .blog-intro-container .blog-flex .blog-content {
  text-align: left;
  width: 50%;
  font-size: 16px;
  margin-left: 5%;
  line-height: 1.7;
}

.form-container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-container >p {
  font-size: 25px;
  color: white;
  background: #666;
  width: 40%;
  text-align: center;
}
.form-container > form   {
  display: flex;
  width: 100%;
  justify-content: center;
}
.form-container > form > input {
  width: 30%;
  padding: 15px;
  margin-right: 20px;
  border: 2px solid #666;
  transition: all 0.5s;

}
.form-container > form > input:focus {
  border: 2px solid green;
  background: #666;
  color: white;
}
.form-container > form > button {
  padding: 0 15px;
  background: #666;
  transition: all 0.5s;
  color: white;
  font-size: 20px;
  border: 1px solid transparent;
  cursor: pointer;
}
.form-container > form > button:hover {
  background: white;
  border: 1px solid green;
  color: black;
}

.myft {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100px;
  background: red;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
}
.footer-container {background: #111; height: 15%;}
.parallax.no3 {
  width: 1168px;
  margin: 0 auto;
  background: #111;;
  color: white;
  
  font-size: 35px;
  display: flex;
  justify-content: space-around;
}
.parallax.no3 > a {
  text-decoration: none;
  color: gray;
  height: 100%;
  display: flex;
  align-items: center;
}
.parallax.no3 > a:hover {
  color: white;
}

/*about-contact*/
.contact-us {
  width: 80%;
  margin: 0 auto;
}
.form-group{
    border-color: #c87872;
    box-shadow: 0 0 3px rgba(171,41,32,0.25);
    box-sizing: content-box;
}
.contact-us {position: relative;}
#nameCheck, #mailCheck, #subCheck, #messCheck {
  position: absolute;
  font-size: 70%;
  color: red;
  display: none;
}
#nameCheck {
  padding-top: 43px;
  left: 15px;
}
#mailCheck {
  padding-top: 43px;
  right: 10px;
}
#messCheck {
  bottom: 10%;
  left: 15px;
}

 form.message {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 410px;
}
 form.message >div:first-child>span,
 .contact >div:first-child>span,
 .contact >div.follow>span {color: #f1ad1d;}
 form.message > p {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #5c5c5c;
}
 form.message > .input-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 25px;
}
 form.message > .input-container > input,
 form.message > textarea  {
  padding: 10px 0 10px 20px;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #929292;
}
 form.message > textarea  {
  height: 180px;
}
 form.message > .button-group > *{
  padding: 10px 40px;
  background: grey;
  color: white;
  font-size: 14px;
  margin-right: 15px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 40px;
}

/*about-contact*/

.parallax.no3 {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
main .blog-intro-container {background:white, color: black;}
